*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #636262;

    .progress-steps-wrapper {
        position: relative;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: #c7c7c7;
        }

        .circle {
            display: grid;
            place-items: center;
            height: 30px;
            width: 30px;
            background: #fff;
            border: 3px solid #c7c7c7;
            border-radius: 50%;
            z-index: 3;
            transition: border-color .3s ease-in;

            &.active {
                border: 3px solid #3498db;
            }
        }

        .progress-line {
            position: absolute;
            width: 0%;
            height: 3px;
            background: #3498db;
            transition: width .3s ease-in;
        }
    }

    .step-controller {
        button {
            padding: 10px 30px;
            background: #3498db;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 5px;
            margin: 10px 5px;
            cursor: pointer;

            &:disabled {
                background: #c7c7c7;
                color: #808080;
            }
        }
    }
}